html {
    border: solid white 6px;
    padding-left: 0px;
    background-color: #000000;
  }
body {
    width: 250px;
    height: 300px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    color: white;
  }
.button {
    margin: 1% auto;
    padding: 2px;
    margin-left: 3px;
    text-align: center;
    font-size: 1.5em;
    cursor: pointer;
    display: inline-block;
  }
#volumeSlider {
  -webkit-appearance: none;
  height: 3px;
  width: 94%; 
  margin-left: 0%;
  background: white;
  outline:black; 
}

#volumeSlider::-moz-range-thumb {
  width: 10px;
  height: 10px;
  outline: black;
  background: black;
  cursor: pointer;
}

#albumArt {
  margin-left: 40px; 
  border: solid white 5px; 
}
  
#bkgd { /* to set background of popup to be blurred version of album art */
    width: 100%;
    height: 100%;
    filter: blur(6px);
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;    
    background-position: center;
    background-size: cover;
}