html {
    border: solid white 5px;
    padding-left: 0px;
    background-color: #ff0000;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px)
}
body {
    width: 250px;
    height: 300px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    color: white;
  }
.button {
    margin: 1% auto;
    padding: 2px;
    margin-left: 3px;
    text-align: center;
    font-size: 1.5em;
    cursor: pointer;
    display: inline-block;
  }
#volumeSlider {
  -webkit-appearance: none;
  height: 3px;
  width: 94%; /* so its easier to use slider on phone */
  margin-left: 0%;
  background: white;
  outline: rgb(255, 0, 0); 
}

#volumeSlider::-moz-range-thumb {
  width: 10px;
  height: 10px;
  outline: white;
  background: white;
  cursor: pointer;
}

#albumArt {
  margin-left: 40px; 
  border: solid white 5px; 
}
  
  